Repository 1-team-zzang/frontend, pull requests merged in 2025-07, with the labels that each got.

#2 chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#6 chore: auto-assign yml
  .github/workflows/auto-assign.yml
Labels: chore

#47 chore: color 수정 및 svg 파일 추가
  package-lock.json
  package.json
  src/index.css
  src/shared/assets/icons/alarm.svg
  src/shared/assets/icons/calendar-add.svg
  src/shared/assets/icons/calendar-check.svg
  src/shared/assets/icons/calendar-close.svg
  src/shared/assets/icons/calendar-day.svg
  src/shared/assets/icons/calendar-empty.svg
  src/shared/assets/icons/calendar-month.svg
  src/shared/assets/icons/calendar-remove.svg
  src/shared/assets/icons/calendar-week.svg
  src/shared/assets/icons/check-active.svg
  src/shared/assets/icons/check-default.svg
  src/shared/assets/icons/check-disabled.svg
  src/shared/assets/icons/check-disactive.svg
  src/shared/assets/icons/clock.svg
  src/shared/assets/icons/close.svg
  src/shared/assets/icons/hamburger.svg
  src/shared/assets/icons/index.tsx
  src/shared/assets/icons/lock.svg
  src/shared/assets/icons/logo.svg
  src/shared/assets/icons/logout.svg
  src/shared/assets/icons/profile.svg
  src/shared/assets/icons/setting.svg
  src/shared/assets/icons/timer-add.svg
  src/shared/assets/icons/timer-check.svg
  src/shared/assets/icons/timer-close.svg
  src/shared/assets/icons/timer-empty.svg
  src/shared/assets/icons/timer-minus.svg
  src/shared/assets/icons/timer.svg
  src/vite-env.d.ts
  tailwind.config.js
  vite.config.ts
Labels: ⚙️ chore

#73 chore: [#71] husky git hook 도입
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  commitlint.config.ts
  package-lock.json
  package.json
Labels: ⚙️ chore, ❗️ review ASAP

#63 feat: [#54] tooltip 컴포넌트 구현
  src/index.css
  src/shared/ui/tooltip/index.ts
  src/shared/ui/tooltip/tooltip-context.tsx
  src/shared/ui/tooltip/tooltip-message.tsx
  src/shared/ui/tooltip/tooltip-trigger.tsx
  src/shared/ui/tooltip/tooltip.test.tsx
  src/shared/ui/tooltip/tooltip.tsx
Labels: ⚡️ feat

#83 feat: [#21] button 컴포넌트 수정사항 반영
  src/shared/ui/button/button.test.tsx
  src/shared/ui/button/button.ts
  src/shared/ui/button/button.tsx
Labels: ⚡️ feat

#84 feat: [#82] GNB 구현
  commitlint.config.ts
  eslint.config.js
  package-lock.json
  package.json
  setup.test.tsx
  src/app/App.tsx
  src/app/provider/use-calendar-provider.ts
  src/entities/date/ui/schedule-badge-fill.tsx
  src/entities/date/ui/schedule-badge-marker.tsx
  src/entities/date/ui/weekday-header.tsx
  src/features/calendar-interacrtion/ui/calendar-cell-date.tsx
  src/shared/assets/icons/home.svg
  src/shared/assets/icons/index.tsx
  src/shared/ui/dropdown/dropdown-menu-item.tsx
  src/shared/ui/dropdown/dropdown-menu.tsx
  src/shared/ui/dropdown/dropdown-provider.tsx
  src/shared/ui/dropdown/dropdown-trigger.tsx
  src/shared/ui/dropdown/dropdown.test.tsx
  src/shared/ui/dropdown/index.tsx
  src/shared/ui/dropdown/use-dropdown-context.ts
  src/shared/ui/form/form.tsx
  src/shared/ui/gnb/gnb-conext.tsx
  src/shared/ui/gnb/gnb.tsx
  src/shared/ui/gnb/hamburger.tsx
  src/shared/ui/gnb/index.ts
  src/shared/ui/gnb/login-button.tsx
  src/shared/ui/gnb/logo.tsx
  src/shared/ui/gnb/sidebar-menu-footer.tsx
  src/shared/ui/gnb/sidebar-menu-header.tsx
  src/shared/ui/gnb/sidebar-menu-list.tsx
  src/shared/ui/gnb/sidebar-menu.tsx
  src/shared/ui/gnb/sidebar.tsx
  src/shared/utils/use-custom-context.tsx
  src/widgets/calendar/lib/go-to-current-month.ts
  src/widgets/calendar/ui/calendar-header.tsx
  src/widgets/calendar/ui/calendar-month-view.tsx
  src/widgets/calendar/ui/calendar-scroll-wrapper.tsx
  src/widgets/calendar/ui/calendar.tsx
  tailwind.config.js
  vite.config.ts
Labels: ⚡️ feat

#144 feat: segmented control UI 수정
  src/entities/schedule/models/repeat-schedules.ts
  src/shared/ui/segmented-control/segmented-control-item.tsx
  src/shared/ui/segmented-control/segmented-control-list.tsx
  src/shared/ui/segmented-control/segmented-control.test.tsx
Labels: ⚡️ feat

#146 feat: 내 약속 페이지 추가
  src/app/provider/ReactRouterProvider.routes.tsx
  src/entities/appointment/models/appointment.types.ts
  src/entities/appointment/models/index.ts
  src/features/appointment/apis/fetch-appointments-by-status.ts
  src/features/appointment/models/appointment.types.ts
  src/features/appointment/models/appointments.query.ts
  src/features/appointment/models/index.ts
  src/features/appointment/models/use-my-appointments-by-status.ts
  src/features/appointment/ui/appointment-card.tsx
  src/features/appointment/ui/appointment-header.tsx
  src/features/appointment/ui/appointment-list-item.tsx
  src/features/appointment/ui/appointment-list.tsx
  src/features/appointment/ui/appointment-sender.tsx
  src/features/appointment/ui/index.ts
  src/pages/appointment/appointment-list-page.tsx
  src/pages/appointment/appointment-list-skeleton.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/use-intersect.ts
  src/shared/hooks/use-query-param-value.ts
  src/shared/ui/error-fallback/error-fallback.tsx
  src/shared/ui/error-fallback/index.ts
  src/shared/utils/format-date-time-with-day.ts
  src/shared/utils/formatDateToYMD.ts
  src/shared/utils/index.ts
Labels: ⚡️ feat

#169 feat: [#161] 공유된 캘린더 상세일정 보기 페이지
  src/app/provider/ReactRouterProvider.routes.tsx
  src/entities/schedule/models/schedule.types.ts
  src/features/my-schedule/detailed-schedule/ui/my-detailed-schedule-list.tsx
  src/features/my-schedule/my-calendar/my-calendar.tsx
  src/features/share-schedule/api/share-schedule.API.ts
  src/features/share-schedule/detailed-share-schedule/ui/share-detailed-schedule-list.tsx
  src/features/share-schedule/detailed-share-schedule/ui/share-detailed-schedule.tsx
  src/features/share-schedule/hooks/use-share-schedule.ts
  src/features/share-schedule/index.ts
  src/features/share-schedule/share-calendar/share-calendar.tsx
  src/features/share-schedule/ui/share-calendar.tsx
  src/pages/detailed-schedule/detailed-schedule-layout.tsx
  src/pages/detailed-schedule/my-detailed-schedule/my-detailed-schedule-list-page.tsx
  src/pages/detailed-schedule/my-detailed-schedule/my-detailed-schedule-page.tsx
  src/pages/detailed-schedule/share-detailed-schedule/share-detailed-schedule-list-page.tsx
  src/pages/detailed-schedule/share-detailed-schedule/share-detailed-schedule-page.tsx
  src/pages/home/home.tsx
  src/pages/share-calendar/share-calendar-page.tsx
  src/shared/ui/calendar/index.ts
  src/shared/ui/calendar/ui/date-cell-content.tsx
  src/shared/ui/calendar/ui/detailed-schedule-header.tsx
  src/shared/ui/calendar/ui/detailed-schedule-list-card.tsx
  src/shared/ui/calendar/ui/private-schedule-modal.tsx
  src/shared/ui/calendar/ui/private-schedule.tsx
Labels: ⚡️ feat

#194 refactor: [#193] sidebar 수정
  index.html
  public/favicon.ico
  public/favicon.svg
  src/features/auth/signin/model/use-signin-mutation.ts
  src/features/friends/ui/user-list.tsx
  src/shared/ui/sidebar/sidebar-menu-list.tsx
  src/shared/ui/sidebar/sidebar.tsx
Labels: ♻️ refactor

#199 refactor: [#196] float button navigate 수정
  src/features/friend-schedule/ui/friend-calendar.tsx
  src/features/my-schedule/my-calendar/my-calendar.tsx
  src/features/share-schedule/share-calendar/share-calendar.tsx
  src/shared/ui/calendar/ui/add-schedule-button.tsx
Labels: ♻️ refactor

#200 feat: [#197] 친구캘린더 헤더 뒤로가기 버튼 추가
  src/shared/ui/calendar/ui/calendar-header-container.tsx
  src/shared/ui/calendar/ui/calendar-header-content.tsx
  src/widget/ui/calendar-ui.tsx
Labels: ⚡️ feat

#205 refactor: [#198] 일정리스트 페이지 높이 수정
  src/pages/detailed-schedule/detailed-schedule-layout.tsx
Labels: ♻️ refactor

#212 feature: [#201] toast ui 구현
  src/app/App.tsx
  src/shared/ui/calendar/util/handle-share-link-copy.ts
  src/shared/ui/toast/index.ts
  src/shared/ui/toast/toast-content.tsx
  src/shared/ui/toast/toast-list.tsx
  src/shared/ui/toast/toast-portal.tsx
  src/shared/ui/toast/toast.ts
  src/shared/ui/toast/use-toast-store.ts
Labels: ⚡️ feat
