Repository 1-team-zzang/frontend, pull requests merged in 2025-08, with the labels that each got.

#233 feat: [#232] toast 성공,실패 디자인 추가
  src/shared/assets/icons/index.tsx
  src/shared/assets/icons/toast-fail.svg
  src/shared/assets/icons/toast-success.svg
  src/shared/ui/toast/toast-content.tsx
Labels: ⚡️ feat

#230 refactor: [#204] 스케줄 component pattern화 작업
  package-lock.json
  src/app/provider/ReactRouterProvider.routes.tsx
  src/entities/schedule/models/schedule.types.ts
  src/entities/utils/format-repeat-text.ts
  src/features/friend-schedule/detailed-schedule/friend-detailed-schedule.tsx
  src/features/my-schedule/detailed-schedule/ui/my-detailed-schedule-list.tsx
  src/features/my-schedule/detailed-schedule/ui/my-detailed-schedule.tsx
  src/features/schedule-edit/api/schedule-register.API.ts
  src/features/schedule-edit/model/format-color-map.ts
  src/features/schedule-edit/model/format-date-to-string.ts
  src/features/schedule-edit/model/format-today.ts
  src/features/schedule-edit/model/schedule.schema.ts
  src/features/schedule-edit/ui/appointment-schedule-form-provider.tsx
  src/features/schedule-edit/ui/index.ts
  src/features/schedule-edit/ui/register-detailed-schedule-form-provider.tsx
  src/features/schedule-edit/ui/register-schedule-form-provider.tsx
  src/features/schedule-edit/ui/schedule-edit-all-day.tsx
  src/features/schedule-edit/ui/schedule-edit-calandar-cell.tsx
  src/features/schedule-edit/ui/schedule-edit-color-modal.tsx
  src/features/schedule-edit/ui/schedule-edit-color.tsx
  src/features/schedule-edit/ui/schedule-edit-content.tsx
  src/features/schedule-edit/ui/schedule-edit-date-picker.tsx
  src/features/schedule-edit/ui/schedule-edit-date.tsx
  src/features/schedule-edit/ui/schedule-edit-header.tsx
  src/features/schedule-edit/ui/schedule-edit-monthly-calendar.tsx
  src/features/schedule-edit/ui/schedule-edit-repeat-option.tsx
  src/features/schedule-edit/ui/schedule-edit-repeat.tsx
  src/features/schedule-edit/ui/schedule-edit-time-picker.tsx
  src/features/schedule-edit/ui/schedule-edit-time-selector.tsx
  src/features/schedule-edit/ui/schedule-edit-title.tsx
  src/features/schedule-edit/ui/schedule-edit-visible.tsx
  src/features/schedule-register/ui/schedule-register.tsx
  src/features/schedule-register/ui/schedule-repeat-bottom-sheet.tsx
  src/features/schedule-register/ui/schedule-repeat-option.tsx
  src/features/schedule-register/ui/schedule-visible-bottom-sheet.tsx
  src/features/share-schedule/detailed-share-schedule/ui/share-detailed-schedule.tsx
  src/pages/detailed-schedule/detailed-schedule-layout.tsx
  src/pages/index.ts
  src/pages/schedule-edit/register-detailed-schedule-page.tsx
  src/pages/schedule-edit/register-schedule-page.tsx
  src/pages/schedule-register/schedule-register.tsx
Labels: ♻️ refactor

#264 fix: [#263] 캘린더별 플로팅버튼 수정
  src/features/friend-schedule/detailed-schedule/friend-detailed-schedule-list.tsx
  src/features/friend-schedule/ui/friend-calendar.tsx
  src/features/my-schedule/api/index.ts
  src/features/my-schedule/detailed-schedule/ui/my-detailed-schedule-list.tsx
  src/features/my-schedule/my-calendar/my-calendar.tsx
  src/features/share-schedule/detailed-share-schedule/ui/share-detailed-schedule-list.tsx
  src/features/share-schedule/share-calendar/share-calendar.tsx
  src/shared/ui/calendar/index.ts
  src/shared/ui/calendar/ui/add-schedule-button.tsx
Labels: 🐛 hotfix

#287 fix: [#286] 공유캘린더 오늘 이전 날짜 뱃지 안보이게 수정
  src/features/share-schedule/ui/share-calendar.tsx
  src/shared/ui/calendar/ui/render-schedule-badges.tsx
Labels: 🐛 hotfix

#280 refactor: [#272] entities/schedule 베럴패턴적용
  src/entities/schedule/hooks/index.ts
  src/entities/schedule/hooks/use-detailed-schedule.ts
  src/entities/schedule/index.ts
  src/entities/schedule/models/detailed-schedule.API.ts
  src/entities/schedule/models/index.ts
  src/entities/utils/format-schedule-time.ts
  src/features/edit-my-schedule/edit-my-schedule.tsx
  src/features/edit-my-schedule/model/use-edit-schedule-mutation.ts
  src/features/friend-schedule/api/friend-schedule.API.tsx
  src/features/friend-schedule/hooks/use-friend-schedule.tsx
  src/features/friend-schedule/ui/friend-calendar.tsx
  src/features/friend-schedule/ui/friend-detailed-schedule.tsx
  src/features/my-schedule/api/my-schedule.API.ts
  src/features/my-schedule/hooks/use-date-schedules.ts
  src/features/my-schedule/hooks/use-delete-schedule.ts
  src/features/my-schedule/ui/my-detailed-schedule.tsx
  src/features/schedule-edit/model/format-color-map.ts
  src/features/schedule-edit/ui/schedule-edit-color.tsx
  src/features/schedule-edit/ui/schedule-edit-repeat-option.tsx
  src/features/schedule-edit/ui/schedule-edit-repeat.tsx
  src/features/share-schedule/api/share-schedule.API.ts
  src/features/share-schedule/hooks/use-share-schedule.ts
  src/features/share-schedule/ui/share-detailed-schedule.tsx
  src/pages/schedule-edit/register-detailed-schedule-page.tsx
  src/pages/schedule-edit/register-schedule-page.tsx
  src/shared/ui/calendar/ui/render-schedule-badges.tsx
  src/shared/ui/detailed-schedule/detailed-schedule-card.tsx
  src/shared/ui/detailed-schedule/detailed-schedule-color-badge.tsx
  src/shared/ui/detailed-schedule/detailed-schedule-list-card.tsx
Labels: ♻️ refactor

#295 fix: [#294] 스토리북 파일 빌드 에러 수정
  src/shared/ui/calendar/ui/render-schedule-badge.stories.tsx
Labels: 🐛 hotfix

#301 refactor: [#299] 로그인 및 회원가입 페이지 수정
  src/features/auth/signin/ui/email-signin-modal.tsx
  src/features/auth/signin/ui/login-select-modal.tsx
  src/features/auth/signin/ui/signin-form.tsx
  src/features/auth/signup/ui/signup-modal.tsx
  src/features/auth/ui/index.ts
  src/features/auth/ui/prompt-switch.tsx
  src/pages/auth/auth-layout.tsx
  src/pages/auth/signin/signin-page.tsx
  src/pages/auth/signup/signup-page.tsx
  src/shared/ui/form/form-field-wrapper.tsx
  src/shared/ui/gnb/logo.tsx
Labels: ♻️ refactor

#285 feat: [#279] 스크롤할때마다 일정데이터 받아오도록 수정
  src/entities/schedule/models/schedule.query.ts
  src/features/my-schedule/api/my-schedule.API.ts
  src/features/my-schedule/hooks/index.ts
  src/features/my-schedule/hooks/use-date-schedules.ts
  src/features/my-schedule/hooks/use-month-schedules.ts
  src/features/my-schedule/ui/my-calendar.tsx
  src/features/my-schedule/ui/my-detailed-schedule-list.tsx
  src/shared/ui/calendar/type/index.ts
  src/shared/ui/calendar/ui/header-button.stories.tsx
  src/shared/ui/calendar/ui/infinite-calendar.tsx
Labels: ⚡️ feat

#329 feat: 친구, 공유캘린더 플로팅 알림
  src/entities/calendar/ui/index.ts
  src/entities/calendar/ui/owner-floating.tsx
  src/entities/calendar/ui/weekly-header.tsx
  src/features/calendar/ui/infinite-calendar.tsx
  src/features/my-calendar/ui/share-calendar-bottom-sheet.tsx
  src/pages/friend-calendar/friend-calendar-page.tsx
  src/pages/share-calendar/share-calendar-page.tsx
  src/shared/ui/sidebar/sidebar-overlay.tsx
  src/widgets/calendar/calendar-layout.tsx
Labels: ⚡️ feat

#334 fix: [#333] 공유캘린더 이전달 스크롤 안되게 수정
  src/pages/share-calendar/share-calendar-page.tsx
  src/widgets/calendar/calendar-layout.tsx
Labels: 🐛 hotfix
